{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="card w-25 shadow" >      
        <div class="card-body">
            <div class="card-title">
                <h2>{{course.name}}</h2>
            </div>
            <div class="card-text">
                <p class="text-muted">{{course.description}}</p><br>
                <div class="h4">Price: <strong>{{course.price}}</strong></div>
            </div>

        </div>
        <div class="card-footer bg-white">            
            <a href="{% url 'pay' course.pk %}" class="btn btn-warning font-weight-bold btn-lg col-12">Pay</a>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
<script src="https://www.paypal.com/sdk/js?client-id={{client_id}}"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.</script>
<script src="{% static 'js/main.js' %}">
{% endblock %}